quarkzDarkOrange VCLSTYLE "quarkzDarkOrange.vsf"
quarkzDarkBlue VCLSTYLE "quarkzDarkBlue.vsf"
quarkzLightBlue VCLSTYLE "quarkzLightBlue.vsf"
quarkzDefaultStyles HTML "quarkzDefaultStyles.css"
quarkzDarkOrangeStyles HTML "quarkzDarkOrangeStyles.css"
quarkzDarkBlueStyles HTML "quarkzDarkBlueStyles.css"
quarkzLightBlueStyles HTML "quarkzLightBlueStyles.css"

