table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid #3498db;
  text-align: left;
  padding: 3px;
}

th {
  background-color: #444e59;
}

code {
  font-size: 10pt;
  font-family: Consolas, "Courier New", Courier, monospace;
}